#property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property-card{
  width: 300px;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c9c9c9;
}

.property-card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.property-card img {
  width: 100%;
  height: auto;
}

.property-card .price {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 800;
}

#loading-spinner {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 400px auto;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ff0000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  margin: 10% 20%;
  border-radius: 8px;
}

.modal-content div:first-child {
  display: flex;
  justify-content: end;
}

.close-modal {
  font-size: 24px;
  cursor: pointer;
  width: 32px;
}

#search-container {
  margin-left: 10%;
}

.magnifying-glass-button {
  object-fit: cover;
  width: 20px;
  height: 20px;
}

#search-container button{
  width: 40px;
  height: 30px;
  background-color: #ff0000;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
}

.favorite-icon::before{
  content: '\2764';
  color: #a8a8a8;
  font-size: 30px;
}

.favorite-icon.colored::before {
  color: red;
  font-size: 30px;
}

#favorite-tab {
  margin-left: 10%;
  background-color: #ff0000;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
}