@media (min-width: 1900) {
  .form-container {
      width: 60%;
  }
}

@media (max-width: 1280px) {
  body {
      font-size: 20px;
  }
  .containers {
    grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 790px) {
.main-content {
  padding: 40px 0;
}

.values-section {
  padding: 0 80px;
}
}

@media (max-width: 1020px)
{
  .containers {
    grid-template-columns: 0.70fr;
    /* repeat(1, 320px);
    grid-template-rows: repeat(2, 250px); */
   }
}

/* .containers {
  grid-template-columns: 1fr 1fr;
 }

 .box-container {
  max-width: 600px;
 }

 .card-item h5 {
  font-size: 20px;
 }

 .card-item p {
  font-size: 16px;
 }
} */

@media (max-width: 480px) {
  .box-container {
      padding: 12px;
  }

  .main-nav {
      padding: 0;
      margin: 0;
  }

  .cta-buttons {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .values-text {
      margin: 20px auto;
  }
}

/* @media (min-width: 1024px)
{
  .containers{
    gap: 80px;
  }
}

@media (max-width: 368px) {
  .containers{
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, 200px);
  }
} */