/*remove comments*/
:root{
  --primary-color: #FFA62B;
  --dark-background-color: #252B42;
  --light-text-color: #FFFFFF;
  --second-text-color: #737373;
  --muted-color: #BDBDBD;
}

body{
  margin: 0;
  background-color: var(--dark-background-color);
  font-family: 'Montserrat';
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: auto;
}

.main-nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

.main-nav{
  margin: 2em;
  padding: 1em;
}

.main-nav-link:link{
  text-decoration: none;
}

.main-nav-link{
  color: #fff;
}

.box-container{
  margin: 0 auto;
  max-width: 1000px;
}

.main-content{
  color: var(--light-text-color);
  padding: 40px 140px;
  max-width: 500px; /*here I changed the max-width to 1000px and added margin: 100px auto*/
}

.main-content .heading-primary{
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
}

.main-content h4{
  text-align: center;
  margin: 40px 0;
  font-weight: 100;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cta-buttons button{
  border-radius: 36px;
  height: 48px;
  width: 185px;
  color: white;
}

.cta-buttons button:first-child{
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.cta-buttons button:last-child{
  background: transparent;
  border: 1px solid white;
}

.values-text h2, .values-text p{
  text-align: center;
  color: var(--light-text-color);
}

.values-section{
  margin: 100px auto;
}

.values-text h2{
  font-size: 40px;
}

.values-text{
  max-width: 1000px;
  margin: 45px auto;
}

.containers{
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 200px);
  gap: 32px;
}

@media (min-width: 1024px)
{
  .containers{
    gap: 80px;
  }
}

@media (max-width: 368px) {
  .containers{
    grid-template-columns: 320px;
    grid-template-rows: repeat(6, 200px);
  }
  /* .box{
    flex-direction: column;
  } */
}

.containers div{
  background-color: white;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 35px 40px 0px 40px;
}

.card-item p{
  color: var(--second-text-color);
  text-align: start;
padding: 0 40px;
}

.home-page {
  background-image: url(img/cover-main.png);
  background-size: cover;
  width: auto;
  height: 100vh;
}

.image-video{
  position: relative;
}

.video-icon{
  position: absolute;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
}

.containers-request{
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.box{
  background-color: var(--light-text-color);
  width: 327px;
  height: 244px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  position: relative;
}

.card-item-request{
  position: absolute; 
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.card-item-request h6{
  font-size: 14px;
  line-height: 24px;
  color: var(--second-text-color);
  margin: 20px auto;
}

.person-who-requested{
  display: flex;
  justify-content: start;
}

.person-who-requested img{
  width: 50px;
  height: 50px;
}

.person-who-requested h6{
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.name-requestor{
  margin: auto 0;
  margin-left: 16px;
}

.name-requestor :first-child{
  color: var(--primary-color);
}

.name-requestor :last-child{
  color: var(--dark-background-color);
}

.team-members{
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-around;
}
.box-team{
  background-color: #FFFFFF;
  width: 328px;
  height: 373px;
}

.about-member h5{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--dark-background-color);
  margin: 32px 0 4px;
}

.about-member h6{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--second-text-color);
  margin: 0;
}

.icons{
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.form-section{
  background-image: url(img/bg-appointment.png);
  background-size: cover;
  width: auto;
  height: 100vh;
  /* deleted position: relative */
}

.content-appointment{
  margin-top: 45px;
}

.form-container{
  display: grid;
  grid-template-columns: repeat(2, 286px);
  grid-template-rows: repeat(4, 50px);
  gap: 20px;
  justify-content: center;
  margin: 0;
  /* max-width: 465px;
  margin: 0 auto;  */
  /*vh in margin*/
}

.form-container *{
  background-color: #F9F9F9;;
  border-radius: 4px;
  color: var(--muted-color);
  border: 1px solid #BDBDBD;
}

.form-container input:last-child{
  grid-area: 3 / 1 / 5 / 3;
  align-items: start;
}

.values-text-appointment{
  max-width: 1000px;
  margin: 45px 45vh; /*vh in margin*/
}

.values-text-appointment h2{
  font-size: 40px;
}

.values-text-appointment h2, .values-text-appointment h5{
  color: var(--light-text-color);
  margin: 0;
}

.values-text-appointment h5{
  font-size: 16px;
  line-height: 24px;
}

.button1{
  width: 218px;
  height: 58px;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--light-text-color);
}

.mini-section{
  background-color: #FAFAFA;
  height: 142px;
}

.mini-section button{
  width: 160px;
}

.business-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-business-details h3{
  font-size: 24px;
  color: var(--dark-background-color);
  margin: 10px 0;
}

.text-business-details p{
  font-size: 14px;
  color: var(--second-text-color);
}